* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --primary: #020202;
    --secondary: #fff;
    --hover: #297cd1;
    --media: #d3d0d0;
}

body{
    background-color: var(--primary);
}

/* .container{
    background-color: var(--primary);
    /* border-bottom: 1px solid orange; */
    /* height: 85vh; 
} */

.wrapper{
    margin: 0 auto;
    max-width: 1136px;
    /* background-color: #312f2f; */
    height: 85vh;

}

.display-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.content-wrapper{
    display: flex;
   justify-content: center;
    padding-left: 110px;
    flex-direction: column;
}

.content-wrapper h3, h1, p{
    color: var(--secondary);
    margin-bottom: 10px;
    
}

.facebook{
    color:var(--media);
    font-size: 23px;
    margin-right: 15px;
    cursor: pointer;
}

.linkindn{
    color:var(--media);
    font-size: 23px;
    margin-right: 15px;
    cursor: pointer;
}

.instagram{
    color:var(--media);
    font-size: 23px;
    margin-right: 15px;
    cursor: pointer;
}

.twitter{
    color:var(--media);
    font-size: 23px;
    cursor: pointer;
}


.twitter:hover{
    color:var(--secondary);
    
}
.facebook:hover{
    color:var(--secondary);
}
.instagram:hover{
    color:var(--secondary);
}
.linkindn:hover{
    color:var(--secondary);
}

.btn-wrapper{
    display: inline-block;
    margin-top: 15px;
}

.btn-wrapper button{
   padding: 8px 13px;
   border-radius: 3px;
   border: none;
   outline: none;
   margin-left: 0px

}

.btn-wrapper button:hover{
    background-color: var(--hover);
    transition: 1s 1ms ease-in-out;
    color: var(--secondary);
    
}
.btn-wrapper button:nth-child(2n){
    margin-left: 10px;
  
}


/* media query */



@media screen and (min-width:220px) and (max-width:447px) {
   
.container{
    background-color: var(--primary);   
    height: 87vh;
}   
    .wrapper{
        margin: 0;
        width:100%
    }

    .content-wrapper{
        padding-left: 30px;
        
    }
    .display-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .photo{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-rows: 202px
    }

    .content-wrapper h3, h1{
        color: var(--secondary);
        margin-bottom: 10px;
        font-size: 16px;
        
    }
    .content-wrapper p{
        color: var(--secondary);
        margin-bottom: 10px;
        font-size: 12px;
    }
}

@media screen and (min-width:446px) and (max-width:974px) {
    .display-grid{
        display: grid;
        grid-template-columns: 2fr 2fr;
}
.photo{
    display: grid;
    grid-template-columns: 1fr;
   
}

.content-wrapper{
    display: flex;
   justify-content: center;
    padding-left: 60px;
    flex-direction: column;
}
}